   <th> <%= donor.id %> </th>
   <td> <%= donor.name %> </td>
     <td> <%= donor.email %> </td>
    <td> <%= donor.phone %> </td>
    <td> <%= donor.icnum %> </td>
    <td> <%= donor.bloodtype %> </td>
