<%= form_with(model: donor) do |form| %>
  <% if donor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

      <ul>
        <% donor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class= "field form-group">
      <%= form.text_field :name ,  class: "form-control", placeholder: "Name" %><br>
    </div>
    <div  class= "field form-group">
      <%= form.text_field :email ,  class: "form-control", placeholder: "Email"%><br>
    </div>

    <div  class= "field form-group">
      <%= form.text_field :phone ,  class: "form-control", placeholder: "Number Phone"%><br>
    </div>

     <div  class= "field form-group">
      <%= form.text_field :icnum ,  class: "form-control", placeholder: "IC Number"%><br>
    </div>


    <div  class= "field form-group">
      <%= form.text_field :bloodtype ,  class: "form-control", placeholder: "Type of Blood"%><br>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
